# Определите таксономию данных по нескольким примерам
## Условие задачи

Вам предоставлены несколько наборов данных с различными типами информации. Ваша цель — определить тип данных для каждого примера.

**Алгоритм решения:**

1. Загрузите каждый набор данных из CSV-файлов в DataFrame.
2. Используйте методы и атрибуты DataFrame для определения типа данных для каждого примера.
3. Выведите результаты на экран.

## Данные для работы

**Датасет 1.** Этот набор данных содержит информацию о различных людях — их ID, имена, возраст и зарплаты.

[data1.csv](https://github.com/Eduson-DataScience/DataScience/blob/main/EDA-Practice/Define_data_taxonomy_in_different_variations/data1.csv)

**Датасет 2.** В этом наборе данных содержится информация о торговле на фондовом рынке за несколько дней: дата, цена открытия, максимум, минимум, цена закрытия и объем торгов.

[data2.csv](https://github.com/Eduson-DataScience/DataScience/blob/main/EDA-Practice/Define_data_taxonomy_in_different_variations/data2.csv)

**Датасет 3.** В этом наборе данных представлена информация о различных странах: их названия, столицы, численность населения и площадь. 

[data3.csv](https://github.com/Eduson-DataScience/DataScience/blob/main/EDA-Practice/Define_data_taxonomy_in_different_variations/data3.csv)

## Подсказки

- Убедитесь, что у вас есть файлы данных (data1.csv, data2.csv, data3.csv) и они находятся в том же каталоге, что и ваш скрипт.
- Используйте метод **`dtypes`** для получения типов данных в DataFrame.
- Создайте словарь или другую структуру данных для хранения таксономии данных.
- Используйте цикл для обработки каждого набора данных и вывода результатов таксономии данных.

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data1.csv')
df2 = pd.read_csv('data2.csv')
df3 = pd.read_csv('data3.csv')

taxanomy = {
    'data1': df1.dtypes,
    'data2': df2.dtypes,
    'data3': df3.dtypes,
}
taxanomy

{'data1': ID         int64
 Name      object
 Age        int64
 Salary     int64
 dtype: object,
 'data2': Date       object
 Open      float64
 High        int64
 Low         int64
 Close       int64
 Volume      int64
 dtype: object,
 'data3': Country        object
 City           object
 Population      int64
 Area          float64
 dtype: object}

In [3]:
for dataset, dtypes in taxanomy.items():
    print('Таканомия данных для', dataset)
    print(dtypes)
    print()

Таканомия данных для data1
ID         int64
Name      object
Age        int64
Salary     int64
dtype: object

Таканомия данных для data2
Date       object
Open      float64
High        int64
Low         int64
Close       int64
Volume      int64
dtype: object

Таканомия данных для data3
Country        object
City           object
Population      int64
Area          float64
dtype: object

In [ ]:

df_list = [df1, df2, df3]
df_types = []
for dfi in df_list:
    print(dfi.shape)
    print(dfi)
    print(dfi.dtypes)
    for dfi_type in dfi.dtypes:
        df_types.append(dfi_type)

In [71]:
df_types = pd.Series(df_types)
df_types_unique = df_types.unique()
df_types_unique

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [6]:
df1.shape, df2.shape, df3.shape

((3, 4), (3, 6), (3, 4))

In [19]:
df1.dtypes, df2.dtypes, df3.dtypes

(ID         int64
 Name      object
 Age        int64
 Salary     int64
 dtype: object,
 Date       object
 Open      float64
 High        int64
 Low         int64
 Close       int64
 Volume      int64
 dtype: object,
 Country        object
 City           object
 Population      int64
 Area          float64
 dtype: object)

In [33]:

for d1 in df1.dtypes:
    print(d1)
for d2 in df2.dtypes:
    print(d2)
for d3 in df3.dtypes:
    print(d3)

int64
object
int64
int64
object
float64
int64
int64
int64
int64
object
object
int64
float64

In [37]:
df1.dtypes.unique()

array([dtype('int64'), dtype('O')], dtype=object)